.user-wrapper .toggle-label i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
    padding-left: 0;
    float: right;
    margin-right: 360px;
    margin-top: 3%;

}

/* .footer{
    background-color:darkcyan;
    height: 25px;
    padding: 4px;
    color: white;
    text-align: center;
} */
.dropdown-header{
    background-color:#44ca89;
    color: white;
    height: 25px;
    padding: 4px;
    text-align: center;
}
/* .dropdown-header a{

  float: right;
} */


strong,small, .p{
    padding-left: 12px;
}
 .p{
    color: black;

}

.dropdown {
    position: relative;
    display: inline-block;
  }

.user-wrapper .dropdown .toggle-checkbox {
    display: none;
  }

  .toggle-label {
    cursor: pointer;
  }

  .dropdownn-menu {
    position: absolute;
    top: 120%;
    right: 160px;
    background-color: #f9f9f9;
    min-width: 200px;
    padding: 10px;
    width: 90%;
    border: 1px solid #ddd;
    display: none;
    font-family: 'Times New Roman', Times, serif;

  }

  .toggle-checkbox:checked ~ .dropdownn-menu {
    display: block;
  }

  .notifications {
    padding: 5px;
    cursor: pointer;
  }

  .notifications:hover {
    background-color: #ddd;
  }
 .icon-button__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 19px;
    height: 19px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;


  }
  .toggle-label i span{
font-size: 80%;
padding-right:3% ;
  }
  .user-wrapper{
    float: left;
    padding-left: 0;

  }


  .dropdown {
    position: relative;
    display: inline-block;
    width: 345px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#44ca89;
    min-width: 160px;
    margin-left: 60px;
    margin-top: 1.5px;
    z-index: 1;
    width: 253px;

  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }


  .dropdown:hover
  .dropdown-content {
    display: block;
}
