
@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family:'Popping', sans-serif;

}

.sidebar{
    width: 260px;
    position: fixed;
    top: 195px;
    background-color: #44ca89;
    z-index: 100;
    height: 40%;
    transition: left 300ms;
    border-radius: 5px;
    float: right;
    margin-right: 10px;
    padding-top: 9px;
}

.sidebar-tow{
    width: 260px;
    position: fixed;
    /* left: 30px; */
    top: 533px;
    margin-right: 10px;
    bottom: 10%;
    background-color: #44ca89;
    z-index: 100;
    transition: left 300ms;
    padding-top: 9px;
    height: 36%;
    border-radius: 5px;
    float: right;

}
.sidebar-one{
    width: 260px;
    position: fixed;
    /* left: 30px; */
    top: 112px;
    margin-right: 10px;
    background-color: #44ca89;
    transition: left 300ms;
    padding-top: 25px;
    height: 9%;
    border-radius: 5px;
    float: right;

}


.sidebar-tow span {
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
    }

.sidebar-one span {
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
    }

.sidebar .sidebar-title {
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
    }

    .sidebar .sub{

        margin-right: 25px;
        }



.sidebar-tow .t{
float: right;
padding-right: 15px;
}
.sidebar-one .ta{
    float: right;
    padding-right: 30px;
}
#toggle [type="checkbox"] {
    border-radius: 0px;
    display: none;
}

/*************************************************************************************/


.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 7%;
    transform: translateY(-50%);
    /* left: 250px; */
    left: -245px;
    right: 0;
    margin: 0 auto;
    width: 400px;
    height: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background: #fff;
    z-index: 9999;

}

.search-form {
    display: flex;
    justify-content: flex-end;
}

.search-button  {
    border: none;
    background: #fff;
    margin-right: 10px;
    padding-top: 4%;
}
.search-wrapper span{
    display: inline-block;
    font-size: 20px;
    margin-bottom: 18px;
}

.search-wrapper i {
    width: 20px;
}
.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    width: 205px;
}


.nav{
    position: fixed;
}


 .icons span{
        color:  #686b6a;
        margin-top: 30px;
        padding: 3px;
        font-size: 20px;
}

/* .icons  .b-title{
    color:  #707372;
    margin-top: 38px;
    padding: 3px;
    font-size: 20px;
} */

.icons a{

    padding: 20px;
    transition: transform 0.2s;

}

.icons span:hover{
    transform: scale(1.2);
}


.main-content header{
    width:100%;
    left: 0;
}

.profile-icon {
    font-size: 34px;
    padding-right: 10px;
    color: #44ca89;
}
/* main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
} */


main  .books-section{
    display: flex;
    flex-wrap: wrap;
    width: 63%;
    margin-left: 9%;
    background-color: #eafff5;
    float: left;
    margin-top: 19%;
    box-shadow: 1px 1px 4px rgba(168, 206, 168, 0.2);

}

 /* .books-section .book {
    width: 23%;
    margin-left: 12px;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
  } */


.books-section .book {
    padding: 30px 10px 20px 10px;
    padding-top: 30px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid #dadde1;

}

    .books-section   :hover {
    border-color: #44ca89;
    border-color: #45b09e!important;
    transition: .3s;
    transform: translateY(-4px)!important;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05)!important
    }

.books-section .download-button {
    display: inline-block;
    background-color: #4b8bc8;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 12px 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    height: 40px;
    text-decoration: none;
    transition: background-color 0.4s;
    width: 85px;
    text-align: center;
}
.books-section .borrow-button {
    display: inline-block;
    background-color: #44ca89;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 12px 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    height: 40px;
    text-decoration: none;
    transition: background-color 0.4s;
    width: 85px;
}
.books-section .borrow-button:hover {
    background-color: #3baf73;
}
.download-button:hover{
    background-color: #2c4d6e;
}


 /******************************************************************************/

/* .sidebar-menu {
    margin-top: 1rem;
} */

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 2rem;
}

.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;

}
.sidebar-menu a:hover {
    background: #fff;
    padding-top: .4rem;
    padding-bottom: .4rem;
    color: #44ca89;
    border-radius: 30px 0px 0px 30px;
    transition: 300ms;
}
.sidebar-one .sidebar-menu-one a:hover {
    background: #fff;
    padding-top: .10rem;
    padding-bottom: .10rem;
    color:#44ca89;
    border-radius: 30px 0px 0px 30px;
    transition: 300ms;
}

.sidebar-menu a.active{
    background: #fff;
    padding-top: .4rem;
    padding-bottom: .4rem;
    color:#44ca89;
    border-radius: 30px 0px 0px 30px;

}
.sidebar-menu-tow a.active{
    background: #fff;
    padding-top: .4rem;
    padding-bottom: .4rem;
    color:#44ca89;
    border-radius: 30px 0px 0px 30px;

}


/****/
.sidebar-menu-tow li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 2rem;
}

.sidebar-menu-tow a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;

}
.sidebar-menu-tow a:hover {
    background: #fff;
    padding-top: .4rem;
    padding-bottom: .4rem;
    color: #44ca89;
    border-radius: 30px 0px 0px 30px;
    transition: 300ms;
}
.sidebar-menu-one li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 2rem;
}

.sidebar-menu-one a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;

}
.sidebar-menu-one a:hover {
    background: #fff;
    padding-top: .6rem;
    padding-bottom: .6rem;
    color: #44ca89;
    border-radius: 30px 0px 0px 30px;
    transition: 300ms;
}

/*--------------------------------------------------------------------- */

/*--------------------------------------------------------------------- */
.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

#nav-toggle:checked + .sidebar {
    width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked + .sidebar li a {
    padding-left: 0rem;
}


#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
    display: none;
}

#nav-toggle:checked ~ .main-content {
    margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header {
    width: calc(100% - 70px);
    left: 70px;

}


header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    height: 12.5%;
}

#nav-toggle {
    display: none;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
    text-align: center;
    align-items: center;
}



.user-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;


}
.user-wrapper h4 {
    padding: 6px;
}
.user-wrapper small {
    display: inline-block;
    color: var(--text-gray);
    margin-top: -3px;
}


 @media only screen and (max-width:1200px) {
    .sidebar {
        width: 110px;
        margin-top: -5px;

    }
    .sidebar-tow {
        width: 110px;
        margin-top: -10px;

    }
    .sidebar-one {
        width: 110px;

    }
    .sidebar .sidebar-brand,
    .sidebar li {
        padding-left: 1rem;
        text-align: center;
    }

    .sidebar-tow li {
        padding-left: 1rem;
        text-align: center;
    }
    .sidebar-one li {
        padding-left: 1rem;
        text-align: right;
    }

    .sidebar li a {
        padding-left: 0rem;
    }
    .sidebar-tow li a {
        padding-left: 0rem;
    }
    .sidebar-one li a {
        padding-left: 0rem;
    }

    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child {
        display: none;
    }

    .sidebar-tow li a span:last-child {
        display: none;
    }
    .sidebar-one li a span:last-child {
        display: none;
    }


    .sidebar:hover {
        width: 250px;
        z-index: 200;
    }
    .sidebar-tow:hover {
        width: 250px;
        z-index: 200;
    }
    .sidebar-one:hover {
        width: 250px;
        z-index: 200;
    }


    .sidebar:hover li {
        padding-left: 2rem;
        text-align: right;
        transition: right 600ms;
    }

    .sidebar-tow:hover li {
        padding-left: 2rem;
        text-align: right;
        transition: right 600ms;
    }

    .sidebar-one:hover li {
        padding-left: 2rem;
        text-align: right;
        transition: right 600ms;
    }

    .sidebar:hover li a {
        padding-left: 1rem;
        transition: right 600ms;
    }
    .sidebar-tow:hover li a {
        padding-left: 1rem;
        transition: right 600ms;
    }
    .sidebar-one:hover li a {
        padding-left: 1rem;
        transition: right 600ms;
    }

    .sidebar:hover .sidebar-brand h2 span:last-child,
    .sidebar:hover li a span:last-child {
        display: inline;
        transition: right 600ms;
    }

    .sidebar-one:hover li a span:last-child {
        display: inline;
        transition: right 600ms;
    }

    .sidebar-tow:hover li a span:last-child {
        display: inline;
        transition: right 600ms;
    }

    .icons span{
    margin-top: 15px;
}
}

@media only screen and (max-width:768px) {


    .search-wrapper {
      width: 250px;
      height: 50px;
      float: right;
      margin-right: 150px;
    }
    .icons span{
        margin-top: 15px;
    }

}




/* scrollbar*/

.sidebar {
    overflow-y: scroll; /* Show vertical scrollbar */
}
.sidebar-tow {
    overflow-y: scroll; /* Show vertical scrollbar */
}

/* width */
::-webkit-scrollbar {
  width: 7px;

}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(140, 138, 138);
    border-radius: 10px;
  }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 98, 98);
}

/***********************/

table{
    border-collapse: collapse;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

thead td {
    font-weight: 700;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    font-size: #222;
}

tbody tr:hover{
    background-color: rgba(226, 222, 222, 0.733);
}
thead tr td
{
    color: #3ba974;
    border: 1px solid #ddd;
    background-color: rgba(218, 214, 214, 0.733);
}
.table-responsive tr td {
    text-align: center;
    align-items: center;
}

.dropdown {
    margin-right: 10px;
    position: relative;
    z-index: 9999;


  }
  .dropdown-toggle {
    display: none;
  }

  .dropdown-toggle + label {
    cursor: pointer;
    position: relative;
    margin-left: 15px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

  .dropdown-toggle + label i {
    font-size: 1.5rem;
    margin-left: 15px;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    padding: 2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: calc(100% - -1px);
    margin-top: 2px;
    width: 140px;
    float: left;
    text-align: right;
  }


  .dropdown-toggle:checked + label + .dropdown-menu {
    display: block;
  }

  .dropdown-menu li {
    padding: 10px;
  }

  .dropdown-menu li a {
    text-decoration: none;
    color: #000;
  }

  .dropdown-menu li a:hover {
    background-color: #f1f1f1;
  }
/******************************************************/

a{
    text-decoration: none;
}

.Top-main  {
    width: 63%;
    top: 15%;
    left: 11%;
    height: 15.5%;
    border: 1px solid #dadde1;
    overflow: hidden;
    z-index: 1;
    background: #fff;
    border-radius: 4px;
}

.Top-main a span {
    color: rgb(0, 0, 0);
    font-size: 19px;
}

.Top-main a span:hover {
    color: gray;
    }

.Top-main a img {
    margin-bottom: 7px;
    margin-top: 5px;
    }


.link {
    display: inline-block;
    text-decoration: none;
    }

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #45b09e;
    transition: width .5s;
    }

.link:hover::after {
    width: 100%;
    transition: width .5s;
    }

    .Top-main .r1 {
    padding-right: 7%;


    }
    .Top-main .r3 {
        padding-left: 7%;
    }

    .link-active {
        display: inline-block;
        text-decoration: none;
        }

    .link-active::after {
        content: '';
        display: block;
        width: auto;
        height: 2px;
        background: #45b09e;
        transition: width .5s;
        }

    .link-active:hover::after {
        width: 100%;
        transition: width .5s;
        }
    .no-copies-message{
        color: red;
        font-weight: bold;

    }



